<div class="container">
    <h1>Organizer Panel</h1>

    <!-- Unsold Player List -->
    <div>
      <h2>Unsold Players</h2>
      <label for="categoryFilter">Filter by Category:</label>
      <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="filterPlayers()">
        <option value="">All</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>

      <!-- <ul>
        <li *ngFor="let player of unsoldPlayers">
          {{ player.name }} (Age: {{ player.age }}) - Category: {{ player.category }}
          <button (click)="assignPlayerToTeam(player)">Assign</button>
          <select *ngIf="player.assignplayer" [(ngModel)]="player.selectedTeamId" >
            <option value="">Select a Team</option>
            <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
          </select>
        </li>
      </ul> -->
      <ul>
        <li *ngFor="let player of unsoldPlayers">
          {{ player.name }} (Age: {{ player.age }}) - Category: {{ player.category }}
          <select [(ngModel)]="player.selectedTeamId">
            <option value="">Select a Team</option>
            <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
          </select>
          <button (click)="assignPlayerToTeam(player)">Assign to Team</button>

        </li>
      </ul>
    </div>

    <!-- Team List -->
    <div>
      <h2>Team List With Players</h2>
      <ul>
        <li *ngFor="let team of teams">
          {{ team.name }} (Budget: {{ team.maximumBudget }})
          <button (click)="releasePlayerFromTeam(team)">Release Player</button>
        </li>
      </ul>
    </div>
  </div>
